[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.7.0"
tensorflow-datasets = "==4.6.0"
tensorflow-quantum = "==0.6.1"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
